* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(https://png.pngtree.com/background/20210710/original/pngtree-tech-artificial-intelligence-banner-background-picture-image_1051501.jpg );
background-size: cover;
}